<div class="test">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#AddModal">
      <i class="fa-solid fa-circle-plus"></i>&nbsp; Créer une demande
      </button>
      &nbsp;&nbsp;
  </div>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>description</th>
        <!--        <th>user</th>  -->
                <th>operation</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requestoo">
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
               <td>{{request.operation.name}}</td> 
                <td>{{request.status}}</td>
               
        


                            <td> 
                   <!-- boutons action-->
                                    <!-- Update Modal -->
                                    <div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLabel">Mettre a jour la demande</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                           
                                              <form>
                                                  <!-- 2 column grid layout with text inputs for the first and last names -->
                                                  <div class="row mb-4">
                                                    <div class="col">
                                                      <div class="form-outline">
                                                        <input type="text" id="form6Example1" class="form-control" value={{request.id}} disabled/>
                                                        <label class="form-label" for="form6Example1">ID</label>
                                                      </div>
                                                    </div>
                                                    <div class="col">
                                                      <div class="form-outline">
                                                        <textarea id="form6Example2" class="form-control" value={{request.description}}></textarea>
                                                        <label class="form-label" for="form6Example2">description : </label>
                                                      </div>
                                                    </div>
                                                  </div>
                                                
                                                  <div class="form-outline mb-4">
                                                    <input type="text" id="form6Example3" class="form-control" value={{request.operation.name}} disabled/>
                                                    <label class="form-label" for="form6Example3">operation</label>
                                                  </div>

                                                  <!-- Text input -->
                                                  <div class="form-outline mb-4">
                                                    <input type="text" id="form6Example3" class="form-control" value={{request.updateId}} disabled/>
                                                    <label class="form-label" for="form6Example3">id de la mise a jour</label>
                                                  </div>
  
                                                  <!-- Number input -->
                                                  <div class="form-outline mb-4">
                                                    <input type="text" id="form6Example6" class="form-control" value={{request.dateRequest}} disabled/>
                                                    <label class="form-label" for="form6Example6">Date de la demande</label>
                                                  </div>
                                                
                                                      <!-- Text input -->
                                                      <div class="form-outline mb-4">
                                                          <input type="text" id="form6Example4" class="form-control" value={{request.person.firstName}} disabled/>
                                                          <label class="form-label" for="form6Example4">utilisateur</label>
                                                        </div>
                                                
                                                   <!-- Text input -->
                                                   <div class="form-outline mb-4">
                                                      <select type="text" id="form6Example4" class="form-control">
                                                        <option value="NEW">NEW</option>
                                                        <option value="SUBMITTED">SUBMITTED</option>
                                                          <option value="CANCELED">CANCELED</option>
                                                          <option value="REJECTED">REJECTED</option>
                                                          <option value="VALIDATED">VALIDATED</option>
                                                          <option value="VALIDATED">ASSIGNED</option>
                                  
                                                      </select>
                                                      <label class="form-label" for="form6Example4">Status</label>
                                                    </div >
                                                </form>
                                  
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            <button type="button" class="btn btn-primary">Confirmer</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  
                                  
                                  
                                  
                                  
                                  <!-- Modal HTML -->
                                  <div id="deletemodal" class="modal fade">
                                      <div class="modal-dialog modal-confirm">
                                          <div class="modal-content">
                                              <div class="modal-header flex-column">
                                                  <div class="icon-box">
                                                      <i class="material-icons">&#xE5CD;</i>
                                                  </div>
                                                  <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                              </div>
                                              <div class="modal-body">
                                                  <p>Voulez-vous vraiment supprimer ces enregistrements ? Ce processus ne peut pas être annulé.</p>
                                              </div>
                                              <div class="modal-footer justify-content-center">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                  <button type="button" class="btn btn-primary">Confirmer</button>
                                                </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                                  
                  
                  
                      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#UpdateModal">
                      <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
                      </button>
                      &nbsp;&nbsp;
                  
                  
                      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletemodal">
                      <i class="fas fa-trash-alt"></i>&nbsp; Supprimer
                      </button>
                      &nbsp;&nbsp;
                      <button type="button" class=" btn btn-outline-secondary">
                      <i class="far fa-list-alt"></i>&nbsp; Details
                      </button>
                              &nbsp;
                              </tr>
                          </tbody>
                          
                      </table>

                  
                    <!-- ADD Modal -->

                       <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLabel">Nouvelle Demande</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                           
                                              <form>
                                                  <!-- 2 column grid layout with text inputs for the first and last names -->
                                                  <div class="row mb-4">
                                                   
                                                    <div class="col">
                                                        <div class="form-group green-border-focus">
                                                            <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                                                            <label class="form-label" for="form6Example3">Description</label>

                                                          </div>
                                                    </div>
                                                  </div>
                                                
                                                                                                
                                                   <!-- Text input -->
                                                   <div class="form-outline mb-4">
                                                      <select type="text" id="form6Example4" class="form-control">
                                                        <option value="Bulk IN 3320">Bulk IN 3320</option>
                                                          <option value="PROVISIONNING">PROVISIONNING</option>
                                                          <option value="BULK">BULK</option>
                                                          <option value="ROAMING">ROAMING</option>
                                  
                                                      </select>
                                                      <label class="form-label" for="form6Example4">Operation</label>
                                                    </div >
                                                </form>
                                  
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            <button type="button" class="btn btn-primary">Confirmer</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                  
                    
                    
                  
                  </div>
                  
                  
                  
                  
                  
                  