<div class="row">
    <div class="col-md-8">
       <div class="input-group flex-nowrap">
          <input type="text"class="form-control" aria-label="Username"aria-describedby="addon-wrapping">
          <div class="input-group-prepend">
             <span class="input-group-text"id="addon-wrapping"><i class="fas fa-search"></i></span>
          </div>
       </div>
    </div>
    <div class = "col-md-4">
    <div class = "row">
    <div class = "col-md-10 text-end">
    </div>

    <div class = " col-md-2 " >
    <img style="width: 40px ;" src = "assets/logout.png"  />
    </div>
    </div>
    </div>
</div>