body{

    background-color: #eff2f5 !important;
}

.background-grey{
    background-color: #eff2f5 !important;
}

.border-none{
    border : none !important;
}

.min-height-60{
    min-height: 60px;
}